<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <!-- <div style="text-align: center; margin-left: 0px;">
        <tr>
            <th>Username :</th>
            <td>{{user.username}}</td>
          </tr>     
    
    </div> -->

  
    <div style="text-align: center; margin-left: 0px;">
        <label for="password" > New Password  : </label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="submitted && f.password.errors?.required">Password is required</div>
        <!-- <div ng-messages="resetPasswordForm.password.$error" role="alert">
        <div ng-message="required">Password is required.</div>
        <div ng-message="minlength">Password must be at least 8 characters long.</div>
        <div ng-message="pattern">Password must contain at least one lowercase letter, one uppercase letter, one digit, and one special character.</div>
        </div> -->
        <div>
        <button type="submit">Reset Password</button>
        </div>
    </div>
  </form>